[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    dt = difftool
    df = diff
    dc = diff --cached
    lg = log -p
    lgp = log -p --cached
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    bav = branch -av
    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

[color]
	ui = auto
	diff = auto
	status = auto

[color "branch"]
    current = green bold
    local = cyan bold
    remote = magenta bold

[color "diff"]
	whitespace = red
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[difftool]
	prompt=false

################################################################################
# You will need to have "vimdiff" installed to use these following two
# configuration options
[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

################################################################################
[receive]
	fsckObjects = true

[user]
	name = <Your Name Here!>
	email = <Your Email Here!>
